.d-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.t-color {
  background-color: #454348;
  border: 1px solid #000;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.align-c {
  text-align: center;
}

.attribute-value {
  color: #ffffff;
  font-family: "Dice";
  font-size: 300%;
  margin: 0 auto;
}

.attribute-label {
  color: #ffffff;
  font-family: "MedievalSharp";
  font-size: 30px;
  margin: 0 auto;
  padding-bottom: 10px;
}