<div class="d-flex">
  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/force 120x120.png" />
      </td>
      <td>
        <img src="../../assets/dextérité 120x120.png" />
      </td>
      <td>
        <img src="../../assets/constitution 120x120.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">0</p>
      </td>
      <td>
        <p class="align-c attribute-value">0</p>
      </td>
      <td>
        <p class="align-c attribute-value">0</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c">Force</p>
      </td>
      <td>
        <p class="align-c">Dextérité</p>
      </td>
      <td>
        <p class="align-c">Constitution</p>
      </td>
    </tr>
  </table>
</div>
