<div class="d-flex">
  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/force.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">{{ attributeValues[0] }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Force</p>
      </td>
    </tr>
  </table>

  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/dextérité.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">{{ attributeValues[1] }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Dextérité</p>
      </td>
    </tr>
  </table>

  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/constitution.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">{{ attributeValues[2] }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Constitution</p>
      </td>
    </tr>
  </table>
  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/intelligence.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">{{ attributeValues[3] }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Inteligence</p>
      </td>
    </tr>
  </table>
  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/sagesse.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">{{ attributeValues[4] }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Sagesse</p>
      </td>
    </tr>
  </table>
  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/charisme.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">{{ attributeValues[5] }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Charisme</p>
      </td>
    </tr>
  </table>
</div>

<button id='dice' (click)="genererNombresAleatoires()">Générer 6 nombres aléatoires</button>