<div class="d-flex">
  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/force 120x120.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">G</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Force</p>
      </td>
    </tr>
  </table>

  <table class="t-color">
    <tr>   
      <td>
        <img src="../../assets/dextérité 120x120.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">H</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Dextérité</p>
      </td>
    </tr>
  </table>

  <table class="t-color">
    <tr>
      <td>
        <img src="../../assets/constitution 120x120.png" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-value">I</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="align-c attribute-label">Constitution</p>
      </td>
    </tr>
  </table>
</div>
