html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Dice";
  src: url("assets/fonts/Gamingdicestandard-8532.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MedievalSharp";
  src: url("assets/fonts/MedievalSharp-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
